@model BoomGaming.Models.Objective

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Objective</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectiveName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectiveName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarnedPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarnedPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StolentPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StolentPoints)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ObjectiveID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
